<%- include('partials/header') %>
<body id="ai_body">
    <main class="ai-container">
        <h1>UniResCollab AI Chat</h1>
        <section id="chat">
            <div id="chatBox"></div>
            <div class="input-area">
                <input type="text" id="userInput" placeholder="Ask me anything..." />
                <button onclick="sendMessage()">Send</button>
            </div>
        </section>
    </main>
    <script src="../Scripts/ai.js"></script>

</body>
<%- include('partials/footer') %>