<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniResCollab</title>
</head>

<!--This is for using different layouts and being able to recycle code-->
<body>
    <%-  body %>
</body>
</html>