<%- include('partials/appheader') %>

<main class="mainshare">
  <h1 class="upload-heading">Upload a PDF File</h1>
  <form action="/files/upload" method="POST" enctype="multipart/form-data">
  
    <input type="file" name="pdf" accept=".pdf" required class="file-input">
    <button type="submit" class="upload-btn">
      📥 Upload
    </button>
  </form>
  
  <h1 class="uploaded-files-heading">Uploaded Files</h1>
  
  <ul id="fileList" class="file-list">
    <% if (typeof files !== 'undefined' && files.length > 0) { %>
      <% files.forEach(function(file) { %>
        <li class="file-item">
          <a href="/files/files/<%= file._id %>" target="_blank" class="file-link"><%= file.name %></a>
        </li>
      <% }); %>
    <% } else { %>
      <li class="no-files-message">No files uploaded yet.</li>
    <% } %>
  </ul>
  
</main>

<%- include('partials/footer') %>
