/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Chat Main Container */
#chat-main {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 20px; /* Add some margin for small screens */
  width: 1000px;
  background-color: black;
}

/* Header */
.chat-header {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #0c0b1d; 
  padding: 15px;
  color: #fff;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.chat-header h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
}

/* Chat Container */
#chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #476d6d;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

#chat-history {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

/* Message Groups */
.message-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.message-group.outgoing {
  align-items: flex-end; /* Align outgoing messages to the right */
}

.message-group.incoming {
  align-items: flex-start; /* Align incoming messages to the left */
}

.message {
  background-color: #b6c7c0; 
  padding: 10px 15px;
  border-radius: 18px;
  font-size: 0.9em;
  max-width: 75%; 
  word-wrap: break-word;
}

.message-group.outgoing .message {
  background-color: #457B9D; /* Darker color for outgoing messages */
  color: #fff;
}

.message-group .timestamp {
  display: block;
  font-size: 0.75em;
  color: #888;
  margin-top: 5px;
  text-align: right; /* Align the timestamp to the right for outgoing messages */
}

#message-form {
  display: flex;
  align-items: center;
  background-color: #0b1829;
  padding: 10px;
  border-radius: 25px;
  gap: 10px; /* Add spacing between items */
}

#message-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
}

.file-label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.send {
  padding: 8px 16px;
  background-color: #1d9bf0;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.send:hover {
  background-color: #1784cc;
}


#message-input:focus {
  outline: none;
  border-color: #075E54; /* Focus border color */
}



.file-label {
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

